<template>
    <div class="container">
        <Header />
    </div>
    <div class="container">

        <div>
            <h1 class="mb-4">Список задач</h1>
            <AddTask @added="addTask" text_button="Создать" />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="30%" @click="sortTask('name_user')">
                                <span v-if="sortParams.curentSort == 'name_user'" class="sort-icon"
                                    :class="{ 'down': !sortParams.sorteDirectionASC.name_user }">
                                    <BIconSortDownAlt />
                                </span>
                                Имя пользователя
                            </th>
                            <th width="20%" @click="sortTask('email')">
                                <span v-if="sortParams.curentSort == 'email'" class="sort-icon"
                                    :class="{ 'down': !sortParams.sorteDirectionASC.email }">
                                    <BIconSortDownAlt />
                                </span>
                                Email
                            </th>
                            <th width="30%">Текст задачи</th>
                            <th width="20%" @click="sortTask('status')">
                                <span v-if="sortParams.curentSort == 'status'" class="sort-icon"
                                    :class="{ 'down': !sortParams.sorteDirectionASC.email }">
                                    <BIconSortDownAlt />
                                </span>
                                Статус
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for=" task  in  tasks.data " :key="task.id">
                            <td>{{ task.name_user }}</td>
                            <td>{{ task.email }}</td>
                            <td>
                                <span v-if="isAdmin()" @click="updateItems = { ...task }" data-bs-toggle="modal"
                                    data-bs-target="#modalEditDesc" class="cursor-pointer">
                                    <BIconPencilSquare />
                                </span>
                                {{ task.description }}

                            </td>
                            <td>
                                <span v-if="isAdmin()">
                                    <input type="checkbox" :disabled="task?.updateStatus" class="cursor-pointer"
                                        :checked="task.status === 'completed'" @change="complete(task)" />
                                </span>
                                {{ langStatus[task.status] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Пагинация -->
            <Bootstrap5Pagination :data="tasks" @pagination-change-page="fetchTasks" />
        </div>

        <div class="modal" ref="modalEditDesc" id="modalEditDesc" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать описание</h5>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="upadteDesc">
                            <label for="description">Текст задачи</label>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" v-model="updateItems.description" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="submit" value="Изменить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useUserStore } from './useUserStore';
import { Bootstrap5Pagination } from 'laravel-vue-pagination';
import { Modal } from 'bootstrap';
import AddTask from './components/AddTask.vue';
import Header from './components/Header.vue';
import { API_BASE_URL } from './apiConfig';
import {
    BIconPencilSquare,
    BIconSortDownAlt,
} from "bootstrap-icons-vue";

const { user, isAdmin, initUSer, getToken, clearUser } = useUserStore();
initUSer();
const tasks = ref([]);
const updateItems = ref({});

const langStatus = ref({
    'new': 'Новая задача',
    'completed': 'Отредактировано администратором'
});


let sortParams = ref(
    {
        curentSort: 'name_user',
        sorteDirectionASC: {
            'name_user': true,
        },
    }
);

let curentSort = ref('name_user');


const fetchTasks = async (page,) => {
    try {
        let sort_by = sortParams.value.curentSort;
        let params = {
            sort_by: sort_by,
            sort_direction: sortParams.value.sorteDirectionASC[sort_by] ? 'acs' : 'desc'
        };
        const response = await axios.get(
            `${API_BASE_URL}/tasks?page=${page}`,
            { params: params }
        );
        tasks.value = response.data;
    } catch (error) {
        console.error(error);
    }
};

initUSer();

async function sortTask(name, direction) {
    let sortDirecion = sortParams.value.sorteDirectionASC;
    sortParams.value.curentSort = name
    sortDirecion[name] = sortDirecion[name] ? !sortDirecion[name] : true;
    let sortBy = sortDirecion[name] ? 'asc' : 'desc';

    let params = {
        sort_direction: sortBy,
        sort_by: name,
        page: 1,
    };

    const response = await axios.get(`${API_BASE_URL}/tasks`, { params: params });
    tasks.value = response.data;
    return response;
}

function addTask(task) {
    tasks.value.data.push(task);
}

async function upadteDesc() {
    try {
        await axios.put(`${API_BASE_URL}/tasks/${updateItems.value.id}/description`, {
            description: updateItems.value.description,
        }, {
            headers: {
                'Accept': 'application/json',
                Authorization: `Bearer ` + getToken()
            }
        });
        const index = tasks.value.data.findIndex(task => task.id === updateItems.value.id);
        if (index !== -1)
            tasks.value.data[index].description = updateItems.value.description;
        const modal = Modal.getInstance(document.getElementById('modalEditDesc'));
        modal.hide();
    } catch (error) {
        console.log(error);
        if (error.response.status === 401) {
            clearUser();
        }
    }
}

async function complete(task) {

    try {
        task.updateStatus = true;
        let url = `${API_BASE_URL}/tasks/${task.id}/complete`;

        if (task.status === 'completed') {
            url = `${API_BASE_URL}/tasks/${task.id}/statusNew`;
        }

        const response = await axios.put(url, {}, {
            headers: {
                'Accept': 'application/json',
                Authorization: `Bearer ` + getToken()
            }
        });
        let updateItems = response.data.data;
        const index = tasks.value.data.findIndex(task => task.id === updateItems.id);
        if (index !== -1)
            tasks.value.data[index] = updateItems;

    } catch (error) {
        task.updateStatus = false;
        if (error.response.status === 401) {
            clearUser();
        }
    }
}

onMounted(() => {
    fetchTasks(1);
});




</script>

<style  lang="scss">
.cursor-pointer {
    cursor: pointer;

    &:hover svg {
        transform: scale(1.3);
    }
}

th {
    cursor: pointer;
}

.sort-icon {
    display: inline-block;
    cursor: pointer;

    &.down {
        transform: rotate(180deg);
    }
}
</style>