<template>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTaskModal">
        {{ text_button }}
    </button>
    <div class="modal" ref="modalRef" id="addTaskModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Новая задача</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="addTask">
                        <div class="form-group mb-3">
                            <label for="name_user">Имя пользователя</label>
                            <input type="text" class="form-control" id="name_user" v-model="newTask.name_user" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" v-model="newTask.email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="description">Текст задачи</label>
                            <textarea class="form-control" id="description" v-model="newTask.description"
                                required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить задачу</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ref="modalSucess" id="modalSucess" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Задача добавлена</h5>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</template>


<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { Modal } from 'bootstrap';
import { useUserStore } from './../useUserStore';
import { API_BASE_URL } from './../apiConfig';
const newTask = ref({
    name_user: '',
    email: '',
    description: '',
});

const emit = defineEmits(['added'])
const modalRef = ref(null);
const modalSucess = ref(null);
const { user, setUser } = useUserStore();

onMounted(() => {
    // Проверяем и устанавливаем пользователя при монтировании компонента
    const storedUser = localStorage.getItem('user');
    if (storedUser) {
        setUser(JSON.parse(storedUser));
    }
});


defineProps(['text_button'])

function addTask(param) {
    axios.post(`${API_BASE_URL}/tasks`, newTask.value, { headers: { 'Accept': 'application/json' } })
        .then((response) => {
            console.log(modalSucess);
            Modal.getInstance(modalRef.value)?.hide();
            new Modal(modalSucess.value).show();
            emit('added', response.data);
        })
        .catch((error) => {
            console.error(error);
        });
}
</script>