<template>
    <form class="px-4 py-3" @submit.prevent="login">
        <div class="mb-3">
            <label for="loginEmail" class="form-label">Логин</label>
            <input type="text" class="form-control" v-model="form.name" placeholder="Введи логин" required>
        </div>
        <div class="mb-3">
            <label for="loginPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" v-model="form.password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Sign in</button>
        <div v-if="errors.auth" class="alert alert-warning">
            <span class="error">{{ errors.auth }}</span>
        </div>
    </form>
</template>

<script setup>

import { ref } from 'vue';
import axios from 'axios';
import { Modal } from 'bootstrap';
import { useUserStore } from './../useUserStore';
import { API_BASE_URL } from './../apiConfig';

let errors = ref({});


const { setUser } = useUserStore();

const form = ref({
    name: '',
    password: ''
});

const emit = defineEmits(['success'])

async function login() {
    errors.value = {};
    try {
        let loginInfo = await axios.get(`${API_BASE_URL}/login`, {
            params: form.value,
            headers: { 'Accept': 'application/json' }
        });
        localStorage.setItem('token', loginInfo.data.token);
        setUser(loginInfo.data.user);
        emit('success', loginInfo.data.user);
    } catch (error) {
        if (error.response.status === 401) {
            errors.value['auth'] = error.response.data.error;
        } else if (error.response.status === 422) {
            errors.value = error.response.data.errors;
        } else {
            errors.value['unknow'] = error.response.data;
        }
    }

}

</script>