<template>
    <nav class="navbar topbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Topbar brand/logo -->
            <a class="navbar-brand" href="#">{{ isAuth() ? user.name : 'гость' }}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Topbar menu items -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <!-- Login button -->

                        <button v-if="!isAuth()" class="btn btn-outline-dark" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalLogin">Вход</button>
                        <button @click="logOut" v-if="isAuth()" class="btn btn-outline-dark" type="button">Выход</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal" ref="modalLogin" id="modalLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Регистарция</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <FormRegister @success="sucesssLogin" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal" ref="modalSucessLogin" id="modalSucessLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header  text-center">
                    <h5 class="modal-title">Успех</h5>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p v-if="isAuth()"> Вы успешно авторизовались под пользователем {{ user.name }}</p>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import FormRegister from './FormRegister.vue';
import { Modal } from 'bootstrap';
import { useUserStore } from './../useUserStore';
import { API_BASE_URL } from './../apiConfig';


let modalLogin = ref({});
let modalSucessLogin = ref({});


const { user, isAuth, clearUser, getToken } = useUserStore();

function sucesssLogin(newUSer) {
    Modal.getInstance(modalLogin.value)?.hide();
    new Modal(modalSucessLogin.value).show();
    user.value = newUSer;
}


async function logOut() {
    try {
        console.log('logout');
        let result = await axios.get(`${API_BASE_URL}/logout`, {
            headers: {
                Authorization: `Bearer ` + getToken()
            }
        });
        clearUser();
    } catch (error) {
        console.log(error);
        if (error.response.status === 401)
            clearUser();

    }
}
</script>   